%h1 OpenShift Cartridge Development Kit

- if cart
  %h2 NOW BUILDING: #{cart.display_name} (#{cart.name}), #{cart.cart_version}

  %p
    %a{:href => cart_manifest_url(cart.commit)} View cartridge manifest for <strong>#{from}</strong>

  %p Deploy now with:

  %pre
    rhc create-app mynewcart #{cart_build_manifest_url(cart.commit)}

  - if cart.buildable?

    %h3 Built Versions

    - if builds.empty?
      %p There are no builds yet for this cartridge.

    - else
      %p Your cartridge has a build script.  The built versions are displayed below.

      %table.table
        %thead
          %tr
            %th Commit
            %th Tags/Branches
            %th Date built
            %th Size
        - builds.each do |build|
          %tr
            %td{:title => build[0]}
              %a{:href => cart_build_manifest_url(build[0])}= build[0][0,9]
            %td
              - if refers = repo.referring_to(build[0])
                #{refers.join(', ')}
            %td= build[1]
            %td= build[2]

    - if has_password
      .alert.alert-warning Creating a build is password protected. Your password is stored in the gear under the environment variable CDK_PASSWORD, and the user name is "admin"

    %form.form-inline{:action => url('/build'), :method => :post}
      %input{:type => :text, :style => 'width: 20em', :name => 'commit', :placeholder => 'Commit SHA1, tag, or branch'}
      %input.btn{:type => :submit, :value => 'Build now'}

  - else
    %p The cartridge on this branch does not have a build script at <code>.openshift/action_hooks/build</code>

- else
  - if from
    .alert.alert-warning 
      You are viewing a specific Git version:
      %a{:href => url("/?from=#{URI.escape(from)}")}>= from
      ="."
      There is no manifest for this branch.
  - else
    .alert.alert-warning You must check in cartridge manifest at <code>metadata/manifest.yml</code> into your Git repository.


  %p 
    This application helps you build carts. You can deploy your own instance of this cartridge with:

  %pre
    rhc create-app cdk http://cdk-claytondev.rhcloud.com

  %p
    Once you've deployed, you should see this page.  You'll need to create a manifest for this cartridge and push it to your Git repo under <code>metadata/manifest.yml</code>.

  %pre
    :preserve
      $ touch metadata/manifest.yml
      $ vim metadata/manifest.yml
      ... edit file contents ...
      $ git add . && git commit -m "Added manifest"
      $ git push origin master

  %p
    For more information on building cartridges, see <a href="https://www.openshift.com/developers/extend">Extending OpenShift</a>.

%h3 Source Versions

%p 
  Click any branch name to switch to that branch, or copy the manifest link to paste to OpenShift.

%table.table
  %thead
    %tr
      %th Branch
      %th Manifest
      %th Author
      %th Date
      %th Subject
      %th Build Link
  - repo.recent_branches(30).each do |col|
    %tr
      %td
        %a{:href => url("/?from=#{URI.escape(col[1])}")}
          - if from == col[1]
            %strong= col[1]
            &lt;-
          - else
            = col[1]
      %td
        %a{:href => cart_manifest_url(col[0])}= col[2]
      %td= col[3]
      %td= col[4]
      %td= col[5]
      %td
        - if has_password
          %form.form-inline{:action => url('/build'), :method => :post}
            %input{:type => :hidden, :name => 'commit', :value => col[1]}
          %input.btn{:type => :submit, :value => 'Build now'}

%p
  Commit log up to <strong>#{from}</strong>

%table.table
  %thead
    %tr
      %th Manifest
      %th Author
      %th Date
      %th Subject
  - repo.recent_commits(from, 30).each do |col|
    %tr
      %td
        %a{:href => cart_manifest_url(col[0])}= col[1]
      %td= col[2]
      %td= col[3]
      %td= col[4]

%p
  You can deploy any built version of your cartridge by adding a Git commit SHA1, branch, or tag to the path.  

%pre
  rhc create-app mynewcart #{cart_build_manifest_url(':commit_or_tag_or_branch')}

%p
  Try it now:
%form.form-inline{:action => url('/build/manifest'), :method => :post}
  %input{:type => :text, :style => 'width: 20em', :name => 'commit', :placeholder => 'Commit SHA1, tag, or branch'}
  %input.btn{:type => :submit, :value => 'Get Manifest'}

%footer{:style => 'margin-bottom: 40px; margin-top: 20px;'}
  %hr
  %p 
    Visit 
    %a{:href => 'https://openshift.github.io'} OpenShift Origin on GitHub
    or view the 
    %a{:href => 'https://github.com/smarterclayton/openshift-cdk-cart'} source of the Cartridge Development Kit
