%h1 OpenShift Cartridge Development Kit

- if cart
  %h2 NOW BUILDING: #{cart.display_name} (#{cart.name}), #{cart.cart_version}

  %p
    %a{:href => latest_cart_manifest_url} View latest manifest from 'master'

  %p Deploy now with:

  %pre
    rhc create-app mynewcart #{latest_cart_manifest_url}

  %p
    You can also deploy an older version of your cartridge by adding a commit ID to the path.  

  %pre
    rhc create-app mynewcart #{cart_manifest_url(':commit')}

- else
  %p 
    This application helps you build carts. To get started, deploy an instance of this cart to OpenShift with:

  %pre
    rhc create-app cdk http://cdk-claytondev.rhcloud.com/cartridge.yml

  %p
    Once you've deployed, you should see this page.  You can check your changes into the application via Git, and then deploy the latest via:

  %pre
    rhc create-app mynewcart #{latest_cart_manifest_url}

%h3 Builds

- if builds.empty?
  %p There are no builds
  
- else
  %table
    %thead
      %tr
        %th Commit
        %th Date
    - builds.each do |build|
      %tr
        %td= build
        %td

%h3 Other versions

%p 
  Branches

%table
  %thead
    %tr
      %th Branch
      %th Manifest
      %th Author
      %th Date
      %th Subject
  - repo.recent_branches(30).each do |col|
    %tr
      %td
        %a{:href => url("/?branch=#{URI.escape(col[1])}")}
          - if branch == col[1]
            %strong= col[1]
          - else
            = col[1]
      %td
        %a{:href => cart_manifest_url(col[0])}= col[2]
      %td= col[3]
      %td= col[4]
      %td= col[5]

%p
  Showing commits for #{branch}

%table
  %thead
    %tr
      %th Manifest
      %th Author
      %th Date
      %th Subject
  - repo.recent_commits('master', 30).each do |col|
    %tr
      %td
        %a{:href => cart_manifest_url(col[0])}= col[1]
      %td= col[2]
      %td= col[3]
      %td= col[4]

%p
  Or access a commit directly:
%form{:action => url('/manifest'), :method => :post}
  %input{:type => :text, :style => 'width: 20em', :name => 'commit', :placeholder => 'Commit SHA1, tag, or branch'}
  %input{:type => :submit, :value => 'Get Manifest'}